.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2rem;
}

.App-intro {
  font-size: large;
}

.Form-Container {
  width: 85%;
  margin: 0 auto;
  background: rgba(233, 240, 252, .4);
  padding: 2rem;
}
